h1,
h2,
h3,
h4,
p,
li,
nav {
  font-family: sans-serif;
}

body {
  border-top: solid 5px #133de8;
}

h1,
h2,
h3 {
  color: rgba(60, 92, 0, 0.85);
}

article {
  margin-bottom: 60px;
}

h1 {
  color: rgba(196, 42, 42, 0.768);
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 40px;
}

h4 {
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
}

p {
  font-size: 20px;
  line-height: 1.2;
  margin: 15px;
}

li {
  font-size: 20px;
}

ol,
ul {
  margin-left: 45px;
}

/* footer p {
    font-size: 16px;
    text-align: right;
} */

/* article header p {
    font-style: italic;
} */

* {
  margin: 0;
  padding: 0;
}

#author {
  font-style: italic;
  font-size: 18px;
}

#copyright {
  font-size: 16px;
  text-align: right;
}

.related-author {
  font-size: 18px;
  text-align: left;
  font-weight: bold;
}

.related {
  list-style: none;
}

.container {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.main-header {
  background-color: #f7f7f7;
  padding: 20px 40px;
  margin-bottom: 60px;
  height: 80px;
}

.post-header {
  margin-bottom: 40px;
}

aside {
  background-color: #f7f7f7;
  border-top: 5px solid rgba(179, 45, 8);
  border-bottom: 5px solid rgb(179, 45, 8);
  padding: 50px 0;
  width: 500px;
}

li {
  margin: 10px;
}

li:first-child {
  font-weight: bold;
}

li:last-child {
  font-style: italic;
  margin-bottom: 0;
}

/* article p:last-child {
    color: red;
} */

a:link {
  color: rgb(9, 172, 231);
  text-decoration: none;
}

a:visited {
  color: rgb(9, 172, 231);
}

a:hover {
  color: orange;
  font-weight: bold;
  text-decoration: underline wavy orangered;
}

a:active {
  background-color: black;
  font-style: italic;
}

/* LVHA */

/* Resolving Conflicts */
.copyright {
  color: red;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
  text-align: left;
}

#copyright {
  font-family: sans-serif;
  font-weight: lighter;
  text-align: right;
}

.txt {
  color: green;
}

.post-img {
  width: 100%;
  height: auto;
}